<%= render 'shared/back_button_top_bar', label: "Estimate Details", path: estimate_path(@estimate) %>

<div class='form-page'>
  <%= render 'shared/form_header', title: 'Edit Estimate' %>
  <%= render 'estimate_form' %>
</div>
