<%= render 'shared/back_button_top_bar', label: 'Estimates', path: estimates_path %>

<div class='form-page'>
  <%= render 'shared/form_header', title: 'New Estimate' %>
  <%= render 'estimate_form' %>
</div>
