<div class='invoice-details-topbar'>
  <%= link_to "Back to #{@originating_page.title}", @originating_page.path, class: 'back' %>
  <div class='topbar-label'>
    Invoice #<%= @invoice.id %>
  </div>
</div>
