<%= render 'shared/back_button_top_bar', label: "Invoice Details", path: invoice_path(@invoice) %>

<div class='form-page'>
  <%= render 'shared/form_header', title: 'Edit Invoice' %>
  <%= render 'invoices_form' %>
</div>
