<%= render 'shared/back_button_top_bar', label: 'Estimate', path: estimate_path(@estimate) %>

<div class='form-page'>
  <%= render 'shared/form_header', title: 'New Estimate Item' %>
  <%= render 'estimate_items/estimate_item_form' %>
</div>
