@mixin vertically-centered {
  // parent must be relatively positioned
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

@mixin overflow-text {
  line-height: normal;
  padding-top: ($row-height / 2) - ($base-font-size / 2);
  overflow: hidden;
  word-wrap: break-word;
  -ms-overflow-style: auto;

  &:hover {
    overflow: visible;
  }
}

@mixin vertically-centered-text($height) {
  height: $height;
  line-height: $height;
}

@mixin container-text-padding {
  padding-left: 30px;
  padding-right: 30px;
}
