$row-height: 50px;
$header-height: 65px;
$subheader-height: 56px;
$detail-content-height: 24px;

$min-width-application-topbar: 1440px;
$min-width-all-clients: 1200px;


$small-font-size: 10px;
$base-font-size: 12px;
$medium-font-size: 16px;
$medium-large-font-size: 18px;
$large-font-size: 24px;

$white: #ffffff;
$off-white: #f8f8f8;
$light-grey: #d8d8d8;
$warm-grey: #9c9c9c;
$greyish-brown: #4a4a4a;
$medium-gray: #999;
$dark-gray: #333;
$tomato: #e74c3c;
$base-green: #3b7b39;

$base-font-color: $dark-gray;
$base-font: 'Helveticaneue';
