$row-height: 70px;
$min-width-all-clients: 1200px;

$small-font-size: 13px;
$base-font-size: 16px;
$medium-font-size: 20px;
$medium-large-font-size: 23px;
$large-font-size: 24px;

$white: #ffffff;
$off-white: #f8f8f8;
$warm-grey: #9c9c9c;
$greyish-brown: #4a4a4a;
$medium-gray: #999;
$dark-gray: #333;
$tomato: #e74c3c;
$base-green: #3b7b39;

$base-font-color: $dark-gray;