<div class='application-topbar'>
  <% if signed_in? %>
    <div class='logout'>
      <%= link_to 'Logout', session_path, method: :delete%>
    </div>
  <% end %>

  <div class='application-topbar-title'>
    Moffa Landscaping
  </div>
</div>
