<div class=<%= "details-topbar" %>>
  <%= link_to "Back to #{@originating_page.title}", @originating_page.path, class: 'back' %>
  <div class='topbar-label'>
     <%= content %>
  </div>
</div>
<%= render 'shared/flashes' %>
