<%= render 'shared/back_button_top_bar', label: 'Clients', path: clients_path %>

<div class='form-page'>
  <%= render 'shared/form_header', title: 'Add New Client' %>
  <%= render 'clients/clients_form' %>
</div>
