<%= render 'shared/back_button_top_bar', label: "Invoice Details", path: invoice_path(@invoice) %>

<div class='form-page'>
  <%= render 'shared/form_header', title: 'New Invoice Item' %>
  <%= render 'invoice_items/invoice_items_form' %>
</div>
