<%= render 'shared/back_button_top_bar', label: "Payments", path: payments_path %>

<div class='form-page'>
  <%= render 'shared/form_header', title: 'New Payment' %>
  <%= render 'payments_form' %>
</div>
