<%= render 'shared/back_button_top_bar', label: @client.full_name, path: client_path(@client) %>

<div class='form-page'>
  <%= render 'shared/form_header', title: 'Add New Address' %>
  <%= render 'addresses_form' %>
</div>
