.client-page-container {
  @include span-columns(10);
  @include shift(0.5);

  min-width: $min-width-all-clients;
}

.client-left-container,
.invoice-details-container{
  @include span-columns(4);
}

.client-right-container {
  @include span-columns(8);
}

.client-details-container,
.billing-address-container,
.job-addresses-container,
.invoice-details-container{
  background-color: $white;
  margin-bottom: 20px;
}

.details-section-header {
  @include vertically-centered-text($header-height);
  @include container-text-padding;

  background-color: $base-green;
  color: $white;
  font-size: $medium-large-font-size;
}

.details-subsection-header {
  @include vertically-centered-text($subheader-height);
  @include container-text-padding;

  background-color: $off-white;
  font-size: $medium-font-size;
}

.details-subsection,
.detail-container {
  padding-bottom: 10px;
  padding-top: 10px;
}

.detail-header {
  @include container-text-padding;

  color: $warm-grey;
}

.detail-content {
  @include container-text-padding;
  @include overflow-text;
  padding-top: ($detail-content-height / 2) - ($base-font-size / 2);
}