.invoice-item {
  clear: both;
  height: auto;
}

.service,
.recent-item,
.invoice-item {
  display: block;
  height: $row-height;

  &:nth-child(even) {
    background-color: $white;
  }

  &:nth-child(odd) {
    background-color: $off-white;
  }
}

.recent-item,
.service {
  &:last-child {
    margin-bottom: 20px;
  }
}

.table-row-headers {
  height: $row-height;
  background-color: $white;
  clear: both;
}

.row {
  height: $row-height;
}

.cell {
  @include vertically-centered-text($row-height);

  float: left;
  padding-left: 30px;

  &.overflow-text {
    @include overflow-text;
  }
}

.header {
  color: $warm-grey;
}

.row-border {
  margin: 0 27px;
  padding: 0;
  border-bottom: 1px solid $light-grey;
}

.recent-invoices-container,
.recent-payments-container{
  //min-width: 660px;
  clear: both;
}

.message {
  text-align: center;
}

.recent-item-address,
.service-name {
  @include span-columns(5);
}

.recent-item-date,
.service-price {
  @include span-columns(2);
}

.recent-item-number {
  @include span-columns(2.5)
}


.no-recent-message {
  padding: 15%;
  display: inline-block;
}
