.invoices-page-title{
  font-size: 22px;
  margin-top: 27px;
}

.invoice-list {
  @include position(relative, 20px null null null);
  @include span-columns(8);
  @include shift(.50);

  min-width: $min-width-all-clients;

  .invoice-list-header-item {
    @include position(relative, 15px null null null);
  }

  .invoice-list-header-item.invoice-date,
  .invoice-list-header-item.invoice-client,
  .invoice-list-header-item.invoice-status{
    @include span-columns(3 of 16)
  }

  .invoice-list-header-item.invoice-job-address {
    @include span-columns(4 of 16)
  }

  .invoice-list-header-item.invoice-total{
    @include span-columns(2 of 16)
  }

  .invoice-list-item {
    @include position(relative, 5px 40px null null);
    height: $row-height;
  }

  .invoice-list-item.invoice-date,
  .invoice-list-item.invoice-client,
  .invoice-list-item.invoice-status{
    @include span-columns(3 of 16)
  }

  .invoice-list-item.invoice-job-address {
    @include span-columns(4 of 16)
  }

  .invoice-list-item.invoice-total{
    @include span-columns(2 of 16)
  }

  .invoice-date,
  .invoice-client,
  .invoice-status {
    padding-left: 30px;
  }

  .invoice-total,
  .invoice-job-address {
    text-align: center;
  }
}

.invoice-count-header {
  background-color: $base-green;
  height: 86px;

  .invoice-count {
    @include position(relative, 29px null null 30px);

    color: $white;
    font-size: $medium-large-font-size;
  }
}

.invoice-list-header {
  background-color: $white;
  color: $warm-grey;
  font-size: $base-font-size;
  height: 53px;
}

.add-invoice-button {
  @include position(fixed, null 55px 55px null);

  display: block;
}

.invoice {
  color: $base-font-color;
  height: $row-height;

  &:hover {
    color: $tomato;

    g {
      stroke: $tomato;
    }
  }
}

.invoice {
  display: block;

  &:nth-child(even) {
    background-color: $white;
  }

  &:nth-child(odd) {
    background-color: $off-white;
  }
}