.pagination {
  text-align: center;
}

.titlebar-pull-right {
  float: right;
  margin-right: 15px;

  form {
    display: inline-block;
    padding-left: 15px;
  }
}

.stacked-select {
  @include position(relative, -20px null null null);
  width: 250px;

  a:visited {
    color: blue;
  }
}
